body > .container {
    width: 600px;
    height: 600px;
}

.container > .box {
    width: 100px;
    height: 100px;
    animation: animate 4s infinite;
}
@keyframes animate {
    0% {
      transform: translateY(0px);
      background-color: red;
    }
  
    25% {
        transform: translateY(500px);
        background-color: blue;
    }

    50% {
        transform: translate(500px,500px);
        background-color: green;
    }
  
    75% {
      transform: translate(500px,0px);
      background-color: yellow;
    }

    100% {
        transform: translateY(0px);
        background-color: red;
      }

  }
